/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}  */
body{
/* 

		/* margin: 20px;
		    padding: 0;
		    box-sizing: border-box;*/
	/* font-family: 'LA Cannonball', sans-serif;
	width: 70vw; */
	/* height: 90vh;
	line-height: 1;
	padding: 4%; */
	/* font-size: smaller;
	margin:auto; */
	/* min-height: 100%; */
	/* background-color:rgb(218 253 186); */
	 */
  
}

ul{
    padding: 10px;
    margin: 10px;
    border: 20px;
    display:table;
    width:100%;
}

.liMenuClass {
    outline: 2px solid black; /* borde de la caja en pixeles y color*/
    border-radius: 10px;
    background: rgb(69 	196 176);
    width: 100px;
    display: block;
    flex-wrap: nowrap;
    margin-left: 30px;
    padding: 10px;
    border: 10px;
    height: 20px;
		color: black;
}

a{
    margin-left: 30px;
    justify-content: center;
    display: inline-block;
    text-align: center;
    text-decoration-line: none;
}

.image{
    justify-content: center;
    width: 100%;
    text-align: center;
} 

.button{
    justify-content: center;
    text-align: center;
}

#footer{
	display: grid;
    
    text-align: center;
    
		margin-top: 69%;
    
    
   
	/* margin: 100px;
    display: table-row; /* Fijar al final */
    /* height: 0;
    padding: 10px; */
} 

/*@media (min-width: 415px) { /*el media query sirve para cambiar cosas cuando el ancho de la pagina sea menor de 767px*/
    /* .image { */
      /* width: 200px; */
    /* } */
/* }* */

